* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;

}
#container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid red;
  justify-content: center;
  align-items: center;
}

#calculator {
  border: 2px solid blue;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-left: 40px;
  padding-right: 40px;
  gap: 20px;
}

.mainrow {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.mainbox {
  display: flex;
  padding: 30px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  border-radius: 50px;
  width: 70px;
  height: 70px;
  font-size: 30px;
  font-weight: 500;
}

.row {
  display: flex;
  gap: 10px;
}

.boxes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#screen {
  border: 2px solid seagreen;
  border-radius: 30px;
  height: 100px;
}
