* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


body {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(189deg, #efefef, #6264ff, #efefef);
  background-size: 600% 600%;
  animation: GradientAnimation 10s ease infinite;
  }
  
  @keyframes GradientAnimation {
  0%{background-position: 0% 2%}
  50%{background-position: 100% 98%}
  100%{background-position:0% 2%}
  }

#container {
  display: flex;
  flex-direction: column;
 

  justify-content: center;
  align-items: center;
}

#calculator {
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-left: 40px;
  padding-right: 40px;
  gap: 20px;
  
  background-color: #efefef;
}

.mainrow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.mainbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 150px;
  height: 80px;
  font-size: 30px;
  font-weight: 500;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 70px;
  height: 70px;
  font-size: 30px;
  font-weight: 500;
}

.row {
  display: flex;
  justify-content: space-around;
}

.boxes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#screen {
  display: flex;
  border: 2px solid rgb(148, 148, 148);
  background-color: #f8f3f3;
  border-radius: 30px;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
}
